@import "../App.scss";

.form-container {
    .form {
        background-color: hsl(0, 0%, 29%);
        width: calc(100vw / 4);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 42px 0;
        gap: 21px;
        border-radius: 3px;
        input {
            width: 90%;
            height: 39px;
            border: none;
            padding-left: .75rem;
            border-radius: 3px;
            font-size: 14px;
        }
        .btn {
            @include btn(
                $bg-color: hsl(0, 0%, 90%), 
                $text-color: hsl(0, 79%, 44%),
                $hover-bg-color: hsl(0, 79%, 44%),
                $hover-text-color: hsl(0, 0%, 90%));
        }
        .action-btn {
            @include btn(
                $bg-color: hsl(0, 79%, 44%), 
                $text-color: hsl(0, 0%, 90%),
                $hover-bg-color: hsl(0, 0%, 90%),
                $hover-text-color: hsl(0, 79%, 44%));
        }
    }
}