@import "../App.scss";

.form-container {
    .form {
        font-size: 14px;
        background: $grey-0;
        width: calc(100vw / 4);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 58px 17px 17px 17px;
        gap: 41px;
        border-radius: 2px;
        .form-control {
            display: flex;
            position: relative;
            max-width: 100%;
            width: 100%;
        }
        label {
            color: $grey-900;
            position: absolute;
            left: 0;
            top: -45%;
            text-transform: capitalize;
        }
        input {
            width: 100%;
            border: 1.5px solid $grey-200;
            height: 39px;
            padding-left: .75rem;
            border-radius: 2px;

            &:focus{
                outline: none;
                border: 2px solid $cyan-500;
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;
            }
            &.error {
                -webkit-box-shadow: 0px 0px 2px 1px rgba($red-400, 0.5);
                -moz-box-shadow: 0px 0px 2px 1px rgba($red-400, 0.5);
                box-shadow: 0px 0px 2px 1px rgba($red-400, 0.5);
            }
        }
        .form-error {
            margin: 0;
            padding: 0;
            color: $red-400;
            font-weight: 700;
            text-transform: capitalize;
        }
        .info {
            text-decoration: underline;
            text-transform: capitalize;
            cursor: pointer;
            color: $grey-800;
            &:hover {
                color: $grey-900;
            }
        }
        .action-btn {
            @include btn(
                $bg-color: rgba($red-700, 0.7), 
                $text-color: $grey-0,
                $hover-bg-color: rgba($red-700, 0.9),
                $hover-text-color: $grey-0);
        }
    }
}