@import "../App.scss";

.todo-modal {
    .todo-form {
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: 40px;
        padding-top: 1em;
        .form-control {
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 100%;
            width: 100%;
            label {
                color: $grey-900;
                position: absolute;
                left: 0;
                top: -45%;
                text-transform: capitalize;
            }
            input {
                width: 100%;
                border: 1.5px solid $grey-200;
                height: 40px;
                padding-left: 0.75rem;
                border-radius: 2px;
                background-color: $grey-0;

                &:focus {
                    outline: none;
                    border: 2px solid $cyan-500;
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    box-shadow: none !important;
                }
                &.error {
                    -webkit-box-shadow: 0px 0px 2px 1px rgba($red-400, 0.5);
                    -moz-box-shadow: 0px 0px 2px 1px rgba($red-400, 0.5);
                    box-shadow: 0px 0px 2px 1px rgba($red-400, 0.5);
                }
            }
        }
        .todoModal-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .action-btn {
                @include btn(
                    $bg-color: rgba($red-600, 0.9),
                    $text-color: $grey-0,
                    $hover-bg-color: $red-600,
                    $hover-text-color: $grey-0
                );
            }
            .btn {
                @include btn(
                    $bg-color: none,
                    $text-color: $red-600,
                    $hover-bg-color: none,
                    $hover-text-color: $red-300
                );
                border: 1px solid $grey-200;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 468px) {
    .todo-modal {
        .todo-form {
            width: 80%;
        }
    }
}
