$black: #363636;
$red: #C44536;
$pink: #FCBFB7;
$gray: #5f5e5e;
$white: #F6F6F6;

body {
  background-color: $black;
  color: #F6F6F6;
  font-family: 'Red Hat Display', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@mixin btn($bg-color: $white, $text-color: $black, $hover-bg-color: $white, $hover-text-color: $white) {
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 400;
  background-color: $bg-color;
  color: $text-color;
  width: 7rem;
  height: 2.1rem;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
    background-color: $hover-bg-color;
    color: $hover-text-color;
  }
}

.btn {
  @include btn;
}

.add-btn:disabled {
  cursor: not-allowed;
}